<%
=begin%>
 <h1> form 2.0</h1> 
<form  method="get" action="/pages/create">
email: <input name="email">
age:   <input name="age" type="number">
Comment:   <textarea name="Comment"></textarea>
<input type="submit" value="Enviar">
</form> 
<%
=end%>


